@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
}

.slider-container {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

/* left side */

.left-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 35%;
	height: 100%;
	transition: all 0.6s ease;
}

.left-slide > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

/* right side */

.right-slide {
	position: absolute;
	top: 0;
	left: 35%;
	width: 65%;
	height: 100%;
	transition: all 0.6s ease;
}

.right-slide > div {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/* buttons */

.slider-container .action-buttons button {
	position: absolute;
	top: 50%;
	left: 35%;
	background-color: #fff;
	border: none;
	width: 40px;
	height: 40px;
	color: #888;
	cursor: pointer;
	transition: all 0.4s ease;
}

.slider-container .action-buttons button:hover {
	background-color: rgb(231, 231, 231);
	color: #000;
}

.slider-container .action-buttons .down-button {
	transform: translateX(-100%);
	border-radius: 10px 0 0 10px;
}

.slider-container .action-buttons .up-button {
	transform: translateY(-100%);
	border-radius: 0 10px 10px 0;
}
